{% extends 'admin/layout.twig' %}

{% block title %}{{ model.title }}{% endblock %}

{% block content %}

<h2>{{ model.title }} <small>{{ model.by }}</small></h2>

<blockquote>
	<p>{{ model.body }}</p>
	<small>{{ model.by }}</small>
</blockquote>

{% if auth_has_access('wisecrack.edit') %}
		<a href="{{ base_url() }}admin/wisecrack/edit/{{ model.id }}" class="hidden-print btn btn-success"><span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}</a>
{% endif %}
{% if auth_has_access('wisecrack.delete') %}
	<a href="{{ base_url() }}admin/wisecrack/delete/{{ model.id }}" class="hidden-print btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}</a>
{% endif %}

{% endblock %}

{% block documentready %}
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ base_url() }}admin/wisecrack/');
{% endblock %}